.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 1280px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-left .w3-button, .navbar-right .w3-button {
  margin: 0 10px;
}

footer {
  width: 1280px;
  background-color: #f1f1f1;
  padding: 16px;
  position: relative;
}

footer p {
  margin: 0;
}

.label-left {
  display: flex;
  flex-grow: 1;
  text-align: left;
  margin-bottom: 5px; /* Add margin bottom for spacing */
}
