extends layout

block content
  h1 Bem-vindo ao Mappa
  p “Passados duzentos e cinquenta anos da feitura do Mapa das Ruas de Braga pelo padre Ricardo Rocha, é justo que se evoque aquele que pode ser considerado como o documento mais sui generis de todo o manancial iconográfico de Braga. Embora inserido num processo mais vasto e pragmático que marcaria a história de uma das mais antigas e poderosas instituições da urbe – o Cabido da Sé Primacial – que o produziu, o Mappa, sempre deslumbrante, individualiza-se como uma janela aberta sobre a memória da cidade.”