extends layout

block content
  style.
    .centered-list {
      text-align: center;
    }

    .centered-list ol {
      list-style-position: inside;
      padding-left: 0; 
      display: inline-block;
      text-align: left;
      padding-left: 400px
    }

  div.centered-list
    h1 Welcome to Mappa
    ol
      each entidade in entidades
        li
          a(href='/entidades/' + entidade.nome) #{entidade.nome}