extends layout


block content
  style.
    header {
      text-align: right;
      padding-right: 20px;
    }

    .centered-list {
      text-align: center;
    }

    
    .centered-list ol {
      list-style-position: inside;
      padding-left: 0; 
      display: inline-block;
      text-align: left;
      padding-left: 400px
    }


  header.w3-red 
    a(href="/login") Login
  div.centered-list
    h1 Welcome to Mappa
    ol
      each entidade in entidades
        li
          a(href='/entidades/' + entidade.nome) #{entidade.nome}
  
  footer.w3-red Trabalho Prático de Engenharia Web, UMINHO LEI 2024, realizado por Fábio Cunha e Gabriel Araújo
