extends layout

block content
  .w3-container
    .w3-card-4(style="max-width:500px;margin:auto;margin-top:50px;margin-bottom:50px;")
      .w3-container.w3-red
        h2 Início de sessão falhou!
      .w3-container
        p #{error}
        a.w3-button.w3-red(href='/conta/login') Tente de novo